body{
	background-color:black;
	background-size:cover;
	background: url("https://media2.equinox.com/cms/images/b9890a47-1abe-4771-8899-2322f7470f99/en-us/1.jpg");
	background-color:black; 
    height: 400px;
    background-position: center;
    background-size: cover;
    position: center;
}

h1{
	color:white;
	text-align:center;
	color:#fff;
	margin-top:200px;
	font-family: Helvetica;

}


h2{
	color: white;
	text-align: center;
   	color: #fff;
  	margin-top:200px;
   	font-family: Helvetica;
}