body{
	background-color:black;
}
.abovethefold{
	background-image:url(/images/image1.jpg);
    background-size:cover;
    max-width:100%
    height:800px;
    margin-top:20px;
	color:white;
	color:#fff;
	font-family: Helvetica;
}
h1{
font-weight:800;
}
h2{
   	font-style:italic;
}